:root {
    --color1: #1d3557;
    --color2: #028090;
    --color3: #e63946;
    --color4: #457b9d;
    --colorfondo: #f1faee;

}

.fuente {
    font-family: 'Anek Latin', sans-serif;
}
body{
    background-color: var(--colorfondo);
}
.header {
    color: var(--colorfondo);
    background-color: var(--color1);
    height: 100px;
}

.center {
    text-align: center;
}

.name {
    font-size: 2.618em;
    width: auto;
    display: inline-block;
    margin: 0px;
    padding-top: 20px;
}

.edu {
    margin-top: 0px;
    width: 65%;
    display: inline-block;
    vertical-align: top;
}

.img {
    max-width: 280px;
    width: 30%;
    margin-top: 20px;
}

.wd {
    width: auto;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    font-size: 1.618rem;
}

h2 {
    font-size: 2.618em;
    border-left: solid 3px var(--color3);
}

.small {
    border-bottom: solid 2px var(--color3);
}

dt,
dd {
    margin: 5px 0px;
    margin-left: 10px;
    font-size: 1.3em;
}

dd {
    margin-left: 20px;
    margin-bottom: 10px;
}

.exp {
    background-color: var(--color4);
    margin: 0;
    padding: 10px;
    color: var(--colorfondo);
    font-size: 1.10em;
}

.content {}

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}