:root {
  --fw-100: 100;
  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;
  --Gray: #242526;
  --Dark-Gray: #18191a;
  --Light-Gray: #b8bbbf;
  --Font-Gray: #e4e6eb;
  --Icon-Gray: #b0b3b8;
  --Medium-Gray: #242526;
  --Light-Medium-Gray: #3a3b3c;
}
body {
  margin: 0;
  background: var(--Dark-Gray);
  color: var(--Light-Gray);
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  background-color: var(--Gray);
  margin: 0;
  padding: 20px;
  color: rgba(240, 255, 255, 1);
}
.content {
  display: flex;
  justify-content: space-between;
}
.pokemonData {
}
.poketarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background-color: var(--Medium-Gray);
  width: auto;
  height: auto;
  padding: 5%;
  text-transform: capitalize;
  border-radius: 10px;
}
.pokeTarjeta-Header {
  display: flex;
  align-items: center;
  gap: 5px;
}
.pokeIcon-container {
  height: 50px;
  width: auto;
}
.pokeIcon {
  object-fit: contain;
  height: 100%;
  width: auto;
}
.number-name {
  display: flex;
  flex-direction: column;
}
.pokeName {
  font-weight: var(--fw-700);
  color: var(--Font-Gray);
}
.pokeId {
  color: var(--Icon-Gray);
}
.pokeTypes {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
}
.pokeTypes > * {
  text-align: center;
  min-width: 65px;
  max-width: 50%;
  height: 100%;
  border-radius: 20px;
  border: solid 2px var(--Light-Gray);
  color: white;
}
.pokeImg {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

.pokeImgContainer {
  align-self: center;
  justify-self: center;
  width: 100px;
  height: auto;
}
.pokeStats > * {
  display: flex;
  justify-content: space-between;
  background-color: var(--Light-Medium-Gray);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}
