:root {
    --amarillo: #F1DB63;
    --azul: #89ECDA;
    --rosa: #ff9999;
    --negro: #070707;
    --fuentesecundaria: 'Lobster', cursive;
    --fuenteprincipal: 'Montserrat', sans-serif;
}

@font-face {
    font-family: Maxwell;
    src: url('../fonts/maxwell/maxwell.regular.woff'), url('../fonts/maxwell/maxwell.light.woff'), url('../fonts/maxwell/maxwell.bold.woff');
}

@font-face {
    font-family: CooperBlack;
    src: url('../fonts/cooper/CooperBlack.woff'), url('../fonts/cooper/CooperBlackStd-Italic.woff');
}

body {
    font-family: var(--fuenteprincipal);
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--negro);
    background-color: azure;
    padding: 0;
    margin: 0;
}

li {
    color: var(--negro);
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fuenteprincipal);
    text-align: center;
}

a {
    text-decoration: none;
}


/* ANUNCIO */

.news {
    background-color: var(--negro);
    color: beige;
    font-size: 1.2em;
    width: 100%;
    height: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: maxwell;
    letter-spacing: 2px;
}


/*NAVBAR */

.header {
    background-color: var(--azul);
}

nav {
    background-color: var(--azul);
    height: 10vh;
    width: 100%;
    position: relative;
}

.same {
    max-width: 250px;
}

.link {
    font-family: maxwell;
    font-size: 1.3em;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--negro);
    font-weight: bolder;
}

ul {
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 100px;
}

.media {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    gap: 20px;
    align-items: center;
    float: right;
    padding-right: 100px;
}

li,
.media-icon {
    display: inline-block;
}

.fa-brands {
    font-size: 1.318em;
}

.logo-space {
    font-family: var(--fuentesecundaria);
    font-size: 2.5em;
    position: absolute;
    top: 5%;
    left: 42%;
    height: 50px;
    width: auto;
}


/*CARRUSEL*/

.carrusel {
    height: 85vh;
    width: 100%;
}

.item-carrusel {
    height: 100%;
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.adon-carrusel {
    position: absolute;
    top: 75%;
    left: 33;
    width: auto;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-carrusel {
    font-family: maxwell;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 2.8em;
    letter-spacing: -1px;
}

.boton-carrusel {
    display: flex;
    font-family: maxwell;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: var(--negro);
    color: beige;
    cursor: pointer;
    transition: 0.4s;
}

.boton-carrusel:hover {
    background-color: #070707c4;
}

.img-carrusel {
    height: 300px;
    margin-top: -60px;
    width: auto;
}


/*CONTENIDO*/

section {
    background-color: var(--rosa);
    height: 60vh;
}

.cards {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.card {
    width: 200px;
    height: 80%;
    display: inline-block;
    background-color: #F1DB63;
    border-radius: 10px;
}

.card-img {
    max-width: 100%;
    max-height: auto;
}