:root {
    --amarillo: #F1DB63;
    --azul: #89ECDA;
    --rosa: #ff9999;
    --negro: #070707;
}

@font-face {
    font-family: AlboriRegular;
    src: url('../fonts/albori/Albori-Light.woff'), url('../fonts/albori/Albori-Regular.woff'), url('../fonts/albori/Albori-Thin.woff');
}

@font-face {
    font-family: CooperBlack;
    src: url('../fonts/cooper/CooperBlack.woff'), url('../fonts/cooper/CooperBlackStd-Italic.woff');
}

body {
    font-family: AlboriRegular;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    letter-spacing: 1px;
}


/*NAVBAR */

li {
    color: var(--negro);
    font-size: 2em;
}

.content {
    margin: 0 10vh;
    background-color: white;
    height: 100vh;
}

.navbar {
    background-color: var(--azul) !important;
}

div.Header {
    display: none;
}